.pic{
    height: 3cm;
    width:4cm;
    background-color: honeydew;
    }
.card{
    height: 4cm;
    width:4cm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 0.5cm;
    margin-right: 0.5cm;
    text-align:  center;
    
 
}
.cards{
    display: flex;
}
.colour{
    background-color: white;
}

